body {
  margin: 0;
}
header {
  background-color: #8A2BE2;
  font-size: 20px;
  font-family: fantasy;
  height: 50px;
  position: relative;
  margin-bottom: 25px;
  text-align: center;


  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
