form {
  float: right;
  margin: 7px;
}

fieldset {
  padding-bottom: 0;
  border-color: black;

  legend {
    font-style: oblique;
  }

  input {
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    font-family: cursive;

    &:focus {
      outline: none;
    }
  }

  .invalid_input {
    border: 1px solid red;
  }
}

.save_button {
  float: right;
}

.remove_button {
  border-radius: 10px;
  background-color: #DC143C;
  border: none;
  font-family: cursive;
  vertical-align: text-bottom;
}

.add_button, .save_button {
  border-radius: 20px;
  border: none;
  background-color: #32CD32;
  font-family: cursive;
  margin: 7px;
}
